* {

    font-family: sans-serif;

}
body {
    background: #fff;
    text-align: center;
}

.startBtn {
    font-size: medium;
    font-weight: 100;
    color: #fff;
    background: #73005C;
    border-radius: 8px;

}

.hide {
    display: none
}

